  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-custom py-3">
    <div class="container">
      <a class="navbar-brand" href="#"><i class="fas fa-cube"></i> AppName</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item"><a class="nav-link active" href="#">Accueil</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Fonctionnalités</a></li>
          <li class="nav-item"><a class="nav-link" href="#">À Propos</a></li>
        </ul>
        <span class="navbar-text">
          <i class="fas fa-coins"></i> 500 Pièces &nbsp;
          <i class="fas fa-gem"></i> 20 Gemmes
        </span>
        <a href="#" class="btn btn-outline-dark ms-3"><i class="fas fa-cog"></i> Paramètres</a>
      </div>
    </div>
  </nav>