<!-- Barre d'action -->
<div class="row mt-3">
    <div class="col-12">


        <div class="card bg-secondary text-white mb-3">
            <div class="card-header text-center">
                <h6 class="m-0"><i class="fas fa-bolt"></i> Actions Rapides</h6>
            </div>
            <div class="card-body d-grid gap-2">
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-primary btn-sm w-100"><i class="fas fa-camera"></i> Scanner un Objet</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-primary btn-sm w-100"><i class="fas fa-map-marker-alt"></i> Marquer un Lieu</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-primary btn-sm w-100"><i class="fas fa-wifi"></i> Synchroniser les Données</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-outline-dark btn-sm w-100 text-white" data-bs-toggle="modal" data-bs-target="#pomodoroModal"><i class="fas fa-clock"></i> Pomodoro</button>
                    </div>
                </div>
                <button class="btn btn-danger btn-sm w-100 mt-2"><i class="fas fa-power-off"></i> Déconnecter</button>
            </div>
        </div>
    </div>
</div>
