<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mon Interface Immersive</title>
    <link rel="stylesheet" href="css/styles-general.css">
    <link rel="stylesheet" href="css/styles-sections.css">
</head>

<body>
    <div id="app">
        <h1>Mon Interface Immersive</h1>
        <p>Explorez des outils futuristes pour améliorer votre santé, finances et productivité !</p>

        <div id="menu">
            <button onclick="showScreen('health')"><i class="fa-solid fa-heartbeat"></i> Santé</button>
            <button onclick="showScreen('finances')"><i class="fa-solid fa-wallet"></i> Finances</button>
            <button onclick="showScreen('routine')"><i class="fa-solid fa-clock"></i> Routine Matinale</button>
            <button onclick="showScreen('profile')"><i class="fa-solid fa-user"></i> Profil</button>
        </div>

        <%- include('section-health.ejs') %>
        <%- include('section-finances.ejs') %>
        <%- include('section-routine.ejs') %>
        <!-- Section Productivité -->
        <!-- Section Profil -->
        <div id="profile" class="section">
            <p>Hello Pat !</p>
        </div>

    </div>

    <script src="js/scripts-general.js"></script>
    <script src="js/scripts-functions.js"></script>
</body>

</html>
