


<div class="tab-pane fade show active" id="calendar" role="tabpanel" aria-labelledby="calendar-tab">
    <iframe src="https://calendar.google.com/calendar/embed?ctz=Europe%2FParis&amp;showPrint=0&amp;showTz=0&amp;showTitle=0&amp;showDate=0&amp;showNav=0&amp;showTabs=0&amp;src=cGF0cmljay5hc3NpczE5MkBnbWFpbC5jb20&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZW4uZnJlbmNoI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%2300cc8b&amp;color=%23E4C441&amp;color=%23F4511E"
        class="w-100" style="height: 300px; border: 0;" frameborder="0" scrolling="no"></iframe>
</div>


<div class="tab-pane fade" id="table" role="tabpanel" aria-labelledby="table-tab">
    <div class="d-flex justify-content-center my-1">
        <label class="btn btn-outline-primary" for="fileInput">Importer Contacts.csv</label>
        <input id="fileInput" type="file" accept=".csv" style="display: none;">
    </div>
    <table id="exampleTable" class="table table-hover table-striped table-bordered py-3 bg-dark">
        <thead class="table-light">
            <tr>
                <th class="px-3 py-2">#</th>
                <th class="px-3 py-2">Âge</th>
                <th class="px-3 py-2">Sexe</th>
                <th class="px-3 py-2">Ville</th>
            </tr>
        </thead>
    </table>
</div>