<%- include('../Composants/head.ejs') %>
  </head>

<body class="bg-light text-dark">
  <%- include('../includes/BarreNavigation.ejs') %>

    <div class="row bg-dark text-light p-2">
      <%- include('../Composants/Elements/row.ejs') %>
    </div>

    <%- include('../includes/end.ejs') %>